---
import Layout from '../layouts/Layout.astro';
import '@fortawesome/fontawesome-free/css/all.min.css';

const teams = [
  { name: 'Mad Lion Koi', imageUrl: 'https://res.cloudinary.com/dlfgycfb8/image/upload/v1724868397/lol-project/teams/mdk.webp' },
  { name: 'G2', imageUrl: 'https://res.cloudinary.com/dlfgycfb8/image/upload/v1724868397/lol-project/teams/G2.webp' },
  { name: 'Fnatic', imageUrl: 'https://res.cloudinary.com/dlfgycfb8/image/upload/v1724868397/lol-project/teams/FNC.webp' },
  { name: 'SK Gaming', imageUrl: 'https://res.cloudinary.com/dlfgycfb8/image/upload/v1724868397/lol-project/teams/SK.webp' },
  { name: 'Team BDS', imageUrl: 'https://res.cloudinary.com/dlfgycfb8/image/upload/v1724868397/lol-project/teams/BDS.webp' },
  { name: 'Team Heretics', imageUrl: 'https://res.cloudinary.com/dlfgycfb8/image/upload/v1724868397/lol-project/teams/TH.webp' },
  { name: 'GiantsX', imageUrl: 'https://res.cloudinary.com/dlfgycfb8/image/upload/v1724868397/lol-project/teams/GX.webp' },
  { name: 'Vitality', imageUrl: 'https://res.cloudinary.com/dlfgycfb8/image/upload/v1724868397/lol-project/teams/VIT.webp' },
  { name: 'KCorp', imageUrl: 'https://res.cloudinary.com/dlfgycfb8/image/upload/v1724868397/lol-project/teams/KC.webp' },
  { name: 'Rogue', imageUrl: 'https://res.cloudinary.com/dlfgycfb8/image/upload/v1724868397/lol-project/teams/RGE.webp' },
];
---

<Layout title="LEC ELO Tracker">
  <main>
    <section class="hero py-12 md:py-24 lg:py-32 xl:py-48">
      <div class="container mx-auto px-4 md:px-6">
        <div class="flex flex-col items-center space-y-4 text-center">
          <h1 class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl lg:text-6xl/none text-white">
            Sigue el ELO de los Pros de la LEC
          </h1>
          <p class="mx-auto max-w-[700px] text-gray-400 md:text-xl">
            Analiza el rendimiento de los mejores jugadores de la Liga Europea de League of Legends con nuestro avanzado sistema de tracking.
          </p>
          <form class="w-full max-w-sm space-y-2">
            <div class="flex space-x-2">
              <input
                type="text"
                placeholder="Buscar jugador pro"
                class="w-full px-3 py-2 bg-gray-800 text-white placeholder-gray-500 border border-gray-700 rounded-md focus:outline-none focus:ring-2 focus:ring-yellow-500"
              />
              <button
                type="submit"
                class="px-4 py-2 bg-yellow-500 text-gray-900 rounded-md hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-offset-2 focus:ring-offset-gray-900"
              >
                <i class="fas fa-search"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </section>

    <section class="teams py-12 md:py-24 lg:py-32 bg-gray-900">
      <div class="container mx-auto px-4 md:px-6">
        <h2 class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl text-white text-center mb-8">
          Equipos de la LEC
        </h2>
        <div class="grid grid-cols-3 md:grid-cols-5 gap-4 justify-items-center">
          {teams.map((team) => (
            <div class="bg-gray-800 p-4 rounded-lg" key={team.name}>
              <img
                src={team.imageUrl}
                alt={`Equipo LEC ${team.name}`}
                width={100}
                height={100}
                class="rounded-full"
              />
            </div>
          ))}
        </div>
      </div>
    </section>

  </main>
</Layout>

<style>
  body {
    background-color: #1a202c;
  }
</style>